/* bring on the madness */

@import 'reset.css';
@import 'structure.css';
@import 'design.css';

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
