body
{
  background: #863F27 url('images/ui/bgspot.gif') top left repeat;
  color:#333;
  font-family: Calibri, 'lucida grande', 'lucida sans', verdana, helvetica, sans-serif;
  font-size:12px;
  margin:0;
  width: 100%
  padding:0;
  text-align:center;
}

a
{
  color:#36414d;
  text-decoration:underline;
}

a img
{
  border:0;
}

h1,h2,h3,h4,h5,h6
{
  font-weight:400;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,pre,blockquote
{
  margin-bottom:10px;
  margin-top:10px;
}

.clr
{
  border:0;
  clear:both;
  font-size:0;
  height:1px;
  line-height:0;
  margin:0 -1px -1px 0;
  overflow:hidden;
  padding:0;
  width:1px;
}

#container {
  margin:0 0;
  position:relative;
  text-align:justify;
  width:850px;
}

#container-inner {
/*  border-color:#292e33;
  border-style:solid;
  border-width:0 5px 5px;*/
  position:static;
  width:auto;
}

#banner
{
  height: 300px;
  left: 10px;
  display: block;
  position:relative;
  width: 850px;
}

#banner-inner
{
  position:static;
}

#logo-square {
  position: absolute;
  top: 33px;
  left: 7px;
}

#illo {
  position: relative;
  left: 215px;
}

#pagebody
{
  min-width: 700px;
  width: 100%;
  zposition:relative;
}

#pagebody-inner
{
  width: 100%;
  zposition:static;
}

#alpha,#beta,#gamma,#delta
{
  display: block;
  min-height:1px;
}

#beta {
  float: left;
  margin-left: 11px;
  margin-top: -5px;
  width: 200px;
  border: 0px solid blue;
}

#alpha {
  float: left;
  margin-top: -5px;
  margin-left: 11px;
  width: 547px;
}

html > body #beta {
  margin-left: 20px !important;
}

#delta
{
  float:right;
}

#gamma
{
  background:#e6ecf2;
  width:180px;
}

#beta-inner,#gamma-inner
{
  zborder-color:#fff;
  zborder-style:solid;
  zborder-width:2px 2px 2px 0;
  padding:10px 10px 0;
}

#alpha-inner,#beta-inner,#gamma-inner,#delta-inner
{
  position:static;
}

.banner-user
{
  border:0;
  float:left;
  margin:0 15px 0 0;
  overflow:hidden;
  padding:0;
  text-align:center;
  width:64px;
}

.banner-user-photo
{
  background-position:center center;
  background-repeat:no-repeat;
  border:0;
  display:block;
  margin:0 0 2px;
  padding:0;
  text-decoration:none !important;
}

.banner-user-photo img
{
  border:0;
  height:auto;
  margin:0;
  padding:0;
  width:64px;
}

.content-nav
{
  margin:0 10px 10px;
  text-align:center;
}

.date-header,.entry-content
{
  clear:both;
  position:static;
}

.entry,.trackbacks,.comments,.archive
{
  clear:both;
  margin-bottom:20px;
  overflow:hidden;
  position:static;
  width:100%;
}

.entry-content,.trackbacks-info,.trackback-content,.comment-content,.comments-open-content,.comments-closed
{
  clear:both;
  margin:5px 10px;
}

.entry-excerpt,.entry-body,.entry-more-link,.entry-more
{
  clear:both;
}

.entry-footer,.trackback-footer,.comment-footer,.comments-open-footer,.archive-content
{
  clear:both;
  margin:5px 10px 20px;
}

#comment-author,#comment-email,#comment-url,#comment-text
{
  width:240px;
}

#comment-bake-cookie
{
  margin-left:0;
  vertical-align:middle;
}

#comment-post
{
  font-weight:700;
}

.image-thumbnail
{
  float:left;
  margin:0 10px 10px 0;
  width:115px;
}

.image-thumbnail img
{
  height:115px;
  margin:0 0 2px;
  width:115px;
}

.module
{
  zbackground:#dae0e6;
  zborder-bottom:1px solid #f3f6f9;
  margin:0 0 10px;
  overflow:hidden;
  position:relative;
  width:100%;
}

.module h2 {
  background: none !important;
}

.module-content
{
/*  zborder-top:1px solid #cfd4d9;
  font-size:10px;
  zline-height:1.2;
  margin:0 0 10px;
  padding:10px 10px 0;
  position:relative;*/
}

.module-list,.archive-list
{
  list-style:none;
  margin:0;
  padding:0;
}

.module-list-item
{
  color:#666;
  line-height:1.2;
  margin-bottom:5px;
  margin-top:0;
}

.module-presence img
{
  vertical-align:middle;
}

.module-powered .module-content
{
  background:#fff;
  border:1px dashed #a3b8cc;
  color:#292e33;
  margin-bottom:0;
  padding-bottom:10px;
}

.module-calendar .module-content table
{
  border-collapse:collapse;
}

.module-calendar .module-content th,.module-calendar .module-content td
{
  text-align:center;
  width:14%;
}

.typelist-thumbnailed
{
  margin:0 0 20px;
}

.typelist-thumbnailed .module-list-item
{
  background:#f3f6f9;
  clear:both;
  display:block;
  margin:1px 0;
  padding:0;
}

.typelist-thumbnail
{
  background:#fff;
  float:left;
  margin:0 5px 0 0;
  min-width:60px;
  text-align:center;
  vertical-align:middle;
  width:auto;
}

.typelist-thumbnail img
{
  margin:5px;
}

.module-galleries .typelist-thumbnail img
{
  width:50px;
}

.typelist-description
{
  margin:0;
  padding:5px;
}

.module-recent-photos
{
  margin:0 0 15px;
}

.module-recent-photos .module-list
{
  border:0;
  display:block;
  height:1%;
  list-style:none;
  margin:0;
  padding:0;
}

.module-recent-photos .module-list-item
{
  border:0;
  display:block;
  float:left;
  height:1%;
  margin:0;
  padding:0;
}

.module-recent-photos .module-list-item a
{
  border:0;
  display:block;
  margin:0;
  padding:0;
}

.module-recent-photos .module-list-item img
{
  height:60px;
  margin:0;
  padding:0;
  width:60px;
}

.module-mmt-calendar
{
  margin-bottom:15px;
}

.module-mmt-calendar .module-header a
{
  text-decoration:none;
}

.module-mmt-calendar th
{
  text-align:left;
}

.module-mmt-calendar td
{
  height:75px;
  text-align:left;
  vertical-align:top;
  width:14%;
}

.day-photo
{
  height:54px;
  width:54px;
}

.day-photo a img
{
  height:50px;
  width:50px;
}

#banner a
{
  color:#fff;
  text-decoration:none;
}

.module-content a
{
  color:#36414d;
}

.trackbacks-header,.comments-header,.comments-open-header,.archive-header
{
  background:#a3b8cc;
  border-left:5px solid #36414d;
  color:#fff;
  font-size:11px;
  font-weight:700;
  line-height:1;
  margin:0;
  padding:5px;
  position:relative;
  text-transform:uppercase;
  width:auto;
}

.entry-more-link,.entry-footer,.comment-footer,.trackback-footer,.typelist-thumbnailed
{
  font-size:11px;
}

#banner-header
{
  color:#fff;
  font-size:30px;
  font-weight:700;
  line-height:1;
  margin:0;
  text-shadow:#36414d 0 2px 3px;
}

#banner-description
{
  background:none;
  color:#fff;
  font-size:12px;
  font-weight:700;
  line-height:1.125;
  margin-bottom:0;
  margin-top:5px;
  text-shadow:#36414d 0 1px 2px;
}

.date-header
{
  margin-top: -10px;
  padding-right: 5px;
  float: right;
  font-size:11px;
  font-weight: 300;
  text-transform:uppercase;
}

.entry-header
{
  border-left:5px solid #dae0e6;
  color:#666;
  font-size:18px;
  margin-top:0;
  padding:0 0 0 10px;
}

.entry-content,.comment-content,.trackback-content
{
  line-height:1.5;
  margin:0;
}

.entry-footer,.comment-footer,.trackback-footer
{
  color:#666;
  font-size:10px;
  margin:0 0 20px;
  padding-top:3px;
  text-align:right;
  zborder-top:1px solid #dae0e6;
}

.comment-content,.trackback-content,.comment-footer,.trackback-footer
{
  margin-left:10px;
}

#trackbacks-info
{
  background:#e6ecf2;
  border:1px dashed #a3b8cc;
  color:#292e33;
  font-size:11px;
  margin:10px 0;
  padding:0 10px;
  text-align:center;
}

.comments-open-footer
{
  margin:10px 0;
}

.module-photo
{
  background:none;
}

.module-photo img
{
  border:3px solid #fff;
}

.module-list
{
  list-style:disc;
  margin:0 15px 10px;
}

.module-list .module-list
{
  list-style:circle;
  margin:5px 0 0;
  padding-left:15px;
}

.typelist-thumbnailed .module-list
{
  list-style:none;
  margin:0 0 10px;
}

.module-search #search
{
  width:100px;
}

textarea[id="comment-text"]
{
  width:80%;
}

.commenter-profile img
{
  border-width:0;
  vertical-align:middle;
}

/*.pkg:after,.typelist-thumbnailed .module-list-item:after,.module-recent-photos .module-list:after
{
  clear:both;
  content:" ";
  display:block;
  font-size:0.1em;
  height:0.1px;
  line-height:0;
  visibility:hidden;
}
*/
* html .pkg,* html .typelist-thumbnailed .module-list-item,* html .module-recent-photos .module-list
{
  display:inline-block;
  height:1%;
}

.pkg,.comments-open label,.day-photo a
{
  display:block;
}

img.image-full,.module-featured-photo img,.module-mmt-calendar table
{
  width:100%;
}

.module-photo .module-content,.module-wishlist .module-content
{
  text-align:center;
}

a:hover,.module-content a:hover
{
  color:#a3b8cc;
}


.module-mmt-calendar .module-content table,.module-calendar .module-content table,.module-search input
{
  font-size:10px;
}
